.home-block-1
    .container
        .row
            .col-lg-3.col-sm-6
                figure
                    .boximg
                        img(src="./img/home/icon-home-1.png", alt="")
                    figcaption
                        .number 60
                        p km di chuyển từ
                            br
                            | Thành phố đến đảo
            .col-lg-3.col-sm-6
                figure
                    .boximg
                        img(src="./img/home/icon-home-2.png", alt="")
                    figcaption
                        .number 22
                        p ha diện tích
                            br
                            | khu du lịch
            .col-lg-3.col-sm-6
                figure
                    .boximg
                        img(src="./img/home/icon-home-3.png", alt="")
                    figcaption
                        .number 50
                        p dịch vụ và hoạt động
                            br
                            | vui chơi giải trí
            .col-lg-3.col-sm-6
                figure
                    .boximg
                        img(src="./img/home/icon-home-4.png", alt="")
                    figcaption
                        .number 2000+
                        p lượt khách
                            br
                            | tham quan/ năm