.home-info
    .container
        .row
            .col-lg-3.col-md-6
                figure
                    .boximg
                        img(src="./img/home/icon-home-1.png", alt="")
                    figcaption
                        .numder