.datphong.section-kdldaoo
    .container
        h2.main-title Đặt phòng
        .row.main-content
            .col-lg-4
                .contact
                    p Vui lòng điền thông tin của bạn theo mẫu bên cạnh. Đặt phòng ngay để nhận được giá ưu đãi.
                    .phone
                        p
                            a(href="tel:02518626999") 0251-8626999
                            a(href="tel:0988606006") 0988 60 60 06
                    a.mail(href="mailto:daoodongtruongcti@gmail.com")
                        span.mdi-mail
                        span daoodongtruongcti@gmail.com
            .col-lg-8
                .row
                    h3 Thông tin đặt phòng
                    .wrap-form
                        div
                            .form-group
                                label Ngày đặt phòng
                                input(type="text")
                            .form-group
                                label Ngày trả phòng
                                input(type="text")
                    .select-main
                        .select-detail
                            h4 Số phòng
                            select
                                option 1
                                option 2
                                option 3
                        .select-detail
                            h4 Người lớn
                            select
                                option 1
                                option 2
                                option 3
                        .select-detail
                            h4 Trẻ em
                            select
                                option 1
                                option 2
                                option 3
                .row
                    h3 Thông tin cá nhân
                    .wrap-form
                        div
                            .form-group
                                label Họ tên
                                input(type="text")
                            .form-group
                                label Email
                                input(type="text")
                            .form-group
                                label Điện thoại
                                input(type="text")
                            .form-group
                                label Ghi chú
                                textarea
                .row
                    .submit-captcha
                        .boximg
                            img(src="./img/datphong/checkbox.png", alt="")
                    .frm-btnwrap
                        .frm-btn
                            a.frm-btn-submit
                                span Gửi thông tin
