.lienhe.section-kdldaoo
    .container
        h2.main-title Liên hệ
        .row
            .col-lg-4
                .fullcontent
                    figure
                        .boximg
                            img(src="./img/lienhe/logo-form.png", alt="")
                        figcaption
                            p Hotline : 0988 6060 06
                            p Email : daoodongtruongcti@gmail.com
                            p Địa chỉ : Đảo Ó - Đồng Trường, Vĩnh Cửu, Đồng Nai
            .col-lg-8
                .contact-form
                    .wrap-form
                        .form-group
                            label Tên
                            input(type="text")
                        .form-group
                            label Email
                            input(type="text")
                        .form-group
                            label Số điện thoại
                            input(type="text")
                        .form-group
                            label Tiêu đề
                            input(type="text")
                        .form-group
                            label Nội dung
                            textarea(name="", cols="30", rows="10")
                .submit
                    .captcha
                        img(src="./img/datphong/checkbox.png", alt="")
                    .btn-submit
                        a(href="")
                            span Gửi thông tin