.tintuc.section-kdldaoo
    .container
        h2.main-title Tin tức
        .row
            .col-lg-4.col-md-6
                figure
                    .boximg
                        img(src="./img/tintuc/item-1.jpg", alt="")
                    figcaption
                        date 20/05/2019
                        h3 Khám phá vẻ đẹp đảo Ó - Đồng - Trường
            .col-lg-4.col-md-6
                figure
                    .boximg
                        img(src="./img/tintuc/item-1.jpg", alt="")
                    figcaption
                        date 20/05/2019
                        h3 Khám phá vẻ đẹp đảo Ó - Đồng - Trường
            .col-lg-4.col-md-6
                figure
                    .boximg
                        img(src="./img/tintuc/item-1.jpg", alt="")
                    figcaption
                        date 20/05/2019
                        h3 Khám phá vẻ đẹp đảo Ó - Đồng - Trường
            .col-lg-4.col-md-6
                figure
                    .boximg
                        img(src="./img/tintuc/item-1.jpg", alt="")
                    figcaption
                        date 20/05/2019
                        h3 Khám phá vẻ đẹp đảo Ó - Đồng - Trường
            .col-lg-4.col-md-6
                figure
                    .boximg
                        img(src="./img/tintuc/item-1.jpg", alt="")
                    figcaption
                        date 20/05/2019
                        h3 Khám phá vẻ đẹp đảo Ó - Đồng - Trường
            .col-lg-4.col-md-6
                figure
                    .boximg
                        img(src="./img/tintuc/item-1.jpg", alt="")
                    figcaption
                        date 20/05/2019
                        h3 Khám phá vẻ đẹp đảo Ó - Đồng - Trường