.giaitri-detail.section-kdldaoo
    .container
        h2.main-title Hoạt động dưới nước
        .row
            .col-lg-4
                .fullcontent
                    h3 Trò chơi dưới nước
                    p là 
                        strong lựa chọn hàng đầu
                        |  trong các hoạt động du lịch team building của các doanh nghiệp, tập thể trong những ngày hè oi bức. Mùa hè này doanh nghiệp bạn tổ chức kỳ nghỉ tại các bờ biển đẹp hoặc các khu nghỉ dưỡng có bể bơi thì đừng bỏ qua những trò chơi team building dưới nước .
                    p Những buổi liên hoan cùng bạn bè, vừa ngắm cảnh giữa lòng 
                        strong Hồ Trị An
                        |  vừa vui chơi ở bể bơi, hay thử sức với những trò chơi thể thao nước đầy hứng khởi đập tan cái nóng của ngày hè oi bức, thả mình lắng nghe bản nhạc hoà tấu thiên nhiên: của sóng, của gió và của mây trời.... 
            .col-lg-4
                .boximg
                    img(src="./img/giaitri/chitiet/item-1.jpg", alt="")
        .row.main-icons
            .col-lg-3.col-md-4
                figure
                    .boxicon
                        img(src="./img/giaitri/chitiet/icon-1.png", alt="")
                    figcaption
                        h3 Tàu cao tốc đánh bắt các loại thủy sản trên mặt hồ
            .col-lg-3.col-md-4
                figure
                    .boxicon
                        img(src="./img/giaitri/chitiet/icon-2.png", alt="")
                    figcaption
                        h3 Tàu cao tốc đánh bắt các loại thủy sản trên mặt hồ
            .col-lg-3.col-md-4
                figure
                    .boxicon
                        img(src="./img/giaitri/chitiet/icon-3.png", alt="")
                    figcaption
                        h3 Tàu cao tốc đánh bắt các loại thủy sản trên mặt hồ
            .col-lg-3.col-md-4
                figure
                    .boxicon
                        img(src="./img/giaitri/chitiet/icon-4.png", alt="")
                    figcaption
                        h3 Tàu cao tốc đánh bắt các loại thủy sản trên mặt hồ
            .col-lg-3.col-md-4
                figure
                    .boxicon
                        img(src="./img/giaitri/chitiet/icon-5.png", alt="")
                    figcaption
                        h3 Tàu cao tốc đánh bắt các loại thủy sản trên mặt hồ
            .col-lg-3.col-md-4
                figure
                    .boxicon
                        img(src="./img/giaitri/chitiet/icon-6.png", alt="")
                    figcaption
                        h3 Tàu cao tốc đánh bắt các loại thủy sản trên mặt hồ
            .col-lg-3.col-md-4
                figure
                    .boxicon
                        img(src="./img/giaitri/chitiet/icon-7.png", alt="")
                    figcaption
                        h3 Tàu cao tốc đánh bắt các loại thủy sản trên mặt hồ
.slider-image.section-kdldaoo
    .container
        h2.main-title Hình ảnh
        .row
            .col-md-2
                .btn-left
                    .nav-prev
            .col-md-8
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .boximg
                                img(src="./img/image/item-1.jpg", alt="")
                        .swiper-slide
                            .boximg
                               img(src="./img/image/item-1.jpg", alt="")
                        .swiper-slide
                            .boximg
                                img(src="./img/image/item-1.jpg", alt="")
            .col-md-2
                .btn-right
                    .nav-next
            .mobile-nav
                .nav-prev
                .nav-next
.giaitri.section-kdldaoo
    .container
        h2.main-title Giải trí khác
        .row
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        figure
                            .boximg
                                img(src="./img/giaitri/item-1.png", alt="")
                            figcaption
                                .box-caption
                                    img(src="./img/giaitri/caption-img.png", alt="")
                                    .caption
                                        h3 Hoạt động dưới nước
                    .swiper-slide
                        figure
                            .boximg
                                img(src="./img/giaitri/item-1.png", alt="")
                            figcaption
                                .box-caption
                                    img(src="./img/giaitri/caption-img.png", alt="")
                                    .caption
                                        h3 Hoạt động dưới nước
                    .swiper-slide
                        figure
                            .boximg
                                img(src="./img/giaitri/item-1.png", alt="")
                            figcaption
                                .box-caption
                                    img(src="./img/giaitri/caption-img.png", alt="")
                                    .caption
                                        h3 Hoạt động dưới nước
                    .swiper-slide
                        figure
                            .boximg
                                img(src="./img/giaitri/item-1.png", alt="")
                            figcaption
                                .box-caption
                                    img(src="./img/giaitri/caption-img.png", alt="")
                                    .caption
                                        h3 Hoạt động dưới nước