.giaitri-detail
    .fullcontent
    .boximg
        height: 500px
        border: 5px solid #ffffff
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.7)
        img
            height: 100%
            width: 100%
            object-fit: cover
    figure
        margin-top: 45px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .boxicon
            display: inline-flex
            width: 80px
            height: 80px
            justify-content: center
            align-items: center
            background: #2295aa
            border-radius: 50%
            margin-bottom: 35px
        figcaption
            h3
                text-align: center