.khachsan.section-kdldaoo
    .container
        h2.main-title Khách sạn
        p Bạn chán ngấy cuộc sống ngột ngạt, bủa vây bởi hàng hàng lớp lớp cao ốc chọc trời, tiếng ồn ào xe cộ công trường đinh tai nhứt ốc, mùi khói bụi nghẽn đặc bầu không khí thị thành… thì một đêm nghỉ dưỡng tại Đảo Ó – Đồng Trường chắc chắn sẽ “lên dây cót tinh thần” không thể tốt hơn.
        .row
            .col-lg-8
                .boximg
                    img(src="./img/khachsan/item-1.jpg", alt="")
            .col-lg-4
                .briefcontent
                    h3 View hồ trị an
                    p Một buổi sớm đón chào ngày mới bằng ánh bình minh, thả hồn vào từng đợt sóng nhấp nhô bên khung cửa sổ giữa lòng hồ Trị An là trải nghiệm tuyệt vời mà bất kì du khách nào cũng không nên bỏ qua.
                .view-more
                    a.btn-shine(href="")
                        span Xem thêm
        .row.reserve
            .col-lg-8
                .boximg
                    img(src="./img/khachsan/item-1.jpg", alt="")
            .col-lg-4
                .briefcontent
                    h3 View hồ trị an
                    p Một buổi sớm đón chào ngày mới bằng ánh bình minh, thả hồn vào từng đợt sóng nhấp nhô bên khung cửa sổ giữa lòng hồ Trị An là trải nghiệm tuyệt vời mà bất kì du khách nào cũng không nên bỏ qua.
                .view-more
                    a.btn-shine(href="")
                        span Xem thêm