.home-block-4
<<<<<<< HEAD
    padding-top: 65px
    padding-bottom: 65px
    .main-title
        text-align: left
        padding: 0 10px
        margin-bottom: 10px
    .main-news
        figure
            .boximg
                height: 260px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            figcaption
                @media (max-width: 991.98px)
                    margin-bottom: 20px
                date
                    margin-top: 15px
                    font-size: 14px
                    color: rgb(153, 153, 153)
                h3
                    font-size: 20px
                    color: rgb(26, 120, 5)
                    overflow: hidden
                    display: -webkit-box
                    text-overflow: ellipsis
                    -webkit-line-clamp: 1
                    -webkit-box-orient: vertical
                p
                    font-size: 16px
                    color: rgb(102, 102, 102)
    h3
        font-size: 16px
        color: rgb(51, 51, 51)
    date
        display: inline-block
        font-size: 14px
        color: rgb(153, 153, 153)
    .col-lg-6.col-md-4
        padding: 0
    .col-lg-8
        padding: 0
    .col-lg-4
        padding: 0
    .col-lg-12.col-md-4
        padding: 0
    .other-news
        figure
            display: flex
            .boximg
                height: 125px
                width: 190px
                @media (max-width: 991.98px)
                    height: 100px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            figcaption
                margin-left: 10px
                h3
                    overflow: hidden
                    display: -webkit-box
                    text-overflow: ellipsis
                    -webkit-line-clamp: 2
                    -webkit-box-orient: vertical
                    width: 200px !important
                    @media (max-width: 991.98px)
                        width: 140px !important
                    @media (max-width: 767.98px)
                        width: 400px !important
                    @media (max-width: 575.98px)
                        width: 200px !important
    .col-lg-6.col-md-4
        .col-lg-12
            .other-news
                padding-top: 20px
                padding-bottom: 20px
                border-bottom: 1px solid rgb(235, 235, 235)
            &:first-child
                .other-news
                    padding-top: 0
                    padding-bottom: 20px
                    border-bottom: 1px solid rgb(235, 235, 235)
                    @media (max-width: 767.98px)
                        padding-top: 20px
            &:last-child
                .other-news
                    @media (max-width:767.98px)
                        margin-bottom: 20px
    .main-video
        figure
            .image
                position: relative
                .boximg
                    height: 260px
                    filter: brightness(.7)
                    transition: .5s all ease-in-out
                    @media (max-width: 991.98px)
                        height: 275px
                    img
                        height: 100%
                        width: 100%
                        object-fit: cover
                .play-btn
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                    transition: .5s all ease-in-out
                    opacity: 1
                    img
                        width: 100%
                        height: 100%
=======
	padding-top: 65px
	padding-bottom: 65px
	.main-title
		text-align: left
		padding: 0 10px
		margin-bottom: 10px
	.main-news
		figure
			.boximg
				width: auto
				height: 260px
				img
					width: 100%
					height: 100%
					object-fit: cover
			figcaption
				@media (max-width: 991.98px)
					margin-bottom: 20px
				date
					margin-top: 15px
					font-size: 14px
					color: rgb(153, 153, 153)
				h3
					font-size: 20px
					color: rgb(26, 120, 5)
				p
					font-size: 16px
					color: rgb(102, 102, 102)
	h3
		font-size: 16px
		color: rgb(51, 51, 51)
	date
		display: inline-block
		font-size: 14px
		color: rgb(153, 153, 153)
	.col-lg-6.col-md-4
		padding: 0
	.col-lg-8
		padding: 0
	.col-lg-4
		padding: 0
	.col-lg-12.col-md-4
		padding: 0
	.other-news
		width: 100%
		figure
			display: flex
			.boximg
>>>>>>> 4875c47362349fc49dc7ac9efa9df454e294a764

				height: 125px
				min-width: 50%
				max-width: 50%
				width: auto
				img
					width: 100%
					height: 100%
					object-fit: cover
				@media (max-width: 991.98px)
					height: 100px
				img
					width: 100%
					height: 100%
					object-fit: cover
			figcaption
				margin-left: 10px
	.col-lg-6.col-md-4
		.col-lg-12
			.other-news
				padding-top: 20px
				padding-bottom: 20px
				border-bottom: 1px solid rgb(235, 235, 235)
			&:first-child
				.other-news
					padding-top: 0
					padding-bottom: 20px
					border-bottom: 1px solid rgb(235, 235, 235)
					@media (max-width: 767.98px)
						padding-top: 20px
			&:last-child
				.other-news
					@media (max-width:767.98px)
						margin-bottom: 20px
	.main-video
		figure
			.image
				position: relative
				.boximg
					height: 260px
					filter: brightness(.7)
					transition: .5s all ease-in-out
					@media (max-width: 991.98px)
						height: 275px
					img
						height: 100%
						width: 100%
						object-fit: cover
				.play-btn
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%,-50%)
					transition: .5s all ease-in-out
					opacity: 1
					img
						width: 100%
						height: 100%

			figcaption
				h3
					font-size: 16px
					color: rgb(51, 51, 51)
					font-weight: bold
					margin-top: 15px
			&:hover
				.image
					.boximg
						transition: .5s all ease-in-out
						filter: brightness(1)
					.play-btn
						opacity: 0
						transition: .5s all ease-in-out
	.other-video
		margin-top: 25px
		&:first-child
			margin-top: 25px
		figure
			position: relative
			.boximg
				height: 125px
				filter: brightness(.7)
				transition: .5s all ease-in-out
				img
					height: 100%
					width: 100%
					object-fit: cover
			.play-btn
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%,-50%)
				opacity: 1
				transition: .5s all ease-in-out
				img
					width: 100%
					height: 100%
			&:hover
				.boximg
					transition: .5s all ease-in-out
					filter: brightness(1)
				.play-btn
					opacity: 0
					transition: .5s all ease-in-out
	.col-lg-4
		.col-lg-6.col-md-4
			&:nth-child(3)
				padding-left: 10px
			&:nth-child(2)
				padding-right: 10px
	.col-lg-6.col-md-12
		&:first-child
			.other-video
				@media (max-width: 991.98px)
					margin-top: 0px

				@media (max-width: 767.98px)
					margin-top: 25px