.home-block-4
	.container
		.row
			.col-lg-8
				h2.main-title Tin tức
				.row
					.col-lg-6.col-md-8
						.main-news
							figure
								.boximg
									img(src="./img/home/news_1.jpg", alt="")
								figcaption
									date 20/05/2019
									h3 Khám phá vẻ đẹp đảo Ó - Đồng Trường
									p Khi bạn đã quá mệt mỏi với công việc, bị bủa vây bởi những khói bụi của cuộc sống đô thị thì còn gì tuyệt vời hơn là được cùng bạn bè đắm chìm trong không gian trong lành, thanh mát, được thưởng thức những món ẩm thực dân dã. Đảo Ó - Đồng Trường là một lựa chọn thú vị.
					.col-lg-6.col-md-4
						.row
							.col-lg-12
								.other-news
									figure
										.boximg
											img(src="./img/home/news_1.jpg", alt="")
										figcaption
											date 20/05/2019
											h3 Về Đồng Nai nhớ ghé thăm Đảo Ó
							.col-lg-12
								.other-news
									figure
										.boximg
											img(src="./img/home/news_1.jpg", alt="")
										figcaption
											date 20/05/2019
											h3 Về Đồng Nai nhớ ghé thăm Đảo Ó
							.col-lg-12
								.other-news
									figure
										.boximg
											img(src="./img/home/news_1.jpg", alt="")
										figcaption
											date 20/05/2019
											h3 Về Đồng Nai nhớ ghé thăm Đảo Ó
			.col-lg-4
				h2.main-title Video
				.row
					.col-lg-12.col-md-8
						.main-video
							figure
								.image
									.boximg
										a(data-fancybox='gallery', href='./img/home/news_1.jpg')
											img(src="./img/home/news_1.jpg", alt="")
									.play-btn
										img(src="./img/home/play-btn.png", alt="")
								figcaption
									h3 Ngắm tổng quan về Khu du lịch Đảo Ó ở hồ Trị An - Đồng Nai
					.col-lg-12.col-md-4
						.row
							.col-lg-6.col-md-12.col-sm-6
								.other-video
									figure
										.boximg
											img(src="./img/home/news_1.jpg", alt="")
										.play-btn
											img(src="./img/home/play-btn.png", alt="")
							.col-lg-6.col-md-12.col-sm-6
								.other-video
									figure
										.boximg
											img(src="./img/home/news_1.jpg", alt="")
										.play-btn
											img(src="./img/home/play-btn.png", alt="")
