.tintuc-detail.section-kdldaoo
    .container
        .row
            .col-lg-8.col-md-7
                date 20/05/2019
                h2 Du xuân đầu năm nhớ ghé thăm Đảo Ó - Đồng Trường giữa hồ Trị An
                .briefcontent
                    p Không chỉ hấp dẫn đối với các phượt thủ thích trải nghiệm khám phá thiên nhiên. Đảo Ó - Đồng Trường nằm trên lòng hồ Trị An còn là điểm đến lý tưởng của du khách thập phương đến nghỉ dưỡng tránh xa những ồn ào khói bụi nơi phố thị đắm chìm trong không gian trong lành, thanh mát.
                    img(src="./img/tintuc/chitiet/item-1.jpg", alt="")
                    .image-caption Đảo Ó - Đồng Trường nằm trên lòng hồ Trị An còn là điểm đến lý tưởng của du khách thập phương
                    h3 Ra đảo Ó - Đồng Trường bằng cách nào?
                    br
                    p Hồ Trị An rộng trên 323km2, có khoảng 40 hòn đảo lớn, nhỏ, trong đó nổi bật nhất là Đảo Ó - Đồng Trường đang được đầu tư phát triển du lịch thu hút nhiều khách thập phương đến tham quan, nghỉ dưỡng. Đảo Đồng Trường với diện tích 22ha, đảo Ó là 2,1ha. Đến đây, du khách có thể cắm trại hoặc nghỉ tại khu vực khách sạn được trang trí hiện đại, hài hòa với thiên nhiên. Không chỉ có vậy, cuộc sống của các ngư dân trên hồ cũng là một điều rất thú vị để du khách có thể trải nghiệm.
                    br
                    p Để di chuyển đến hồ Trị An (chỉ cách TP.HCM khoảng hơn 60km), bạn có thể đi xe buýt, khởi hành từ Bến Thành (quận 1, TP.HCM), chọn tuyến buýt số 12 đến ngã ba Trị An tiếp tục bắt xe buýt tuyến số 19 về thị trấn Vĩnh An đi bộ hoặc đi xe ôm tới bến đò ra đảo Ó - Đồng Trường. Nếu bạn đi xe máy từ trung tâm TP.HCM, đi theo xa lộ Hà Nội chạy dọc QL1 qua trung tâm TP Biên Hòa đến ngã ba Trị An, rẽ trái vào ĐT767, các bạn đi thêm khoảng 18km vào trung tâm thị trấn Vĩnh An rồi rẽ phải vào ĐT762 đến bến đò Đồng Trường.
                    br
                    p Lưu ý khi di chuyển bằng xe máy bạn cần khởi sớm vì trục đường QL1 từ TP.HCM đến ngã ba Trị An (Đồng Nai) mật độ phương tiện đông đúc vào giờ cao điểm. Để chuyến đi được an toàn và thuận lợi bạn hãy quan sát biển báo tuân thủ tốc độ, giữ khoảng cách an toàn vì lộ trình đi qua khu vực đông dân cư lực lượng chức năng thường xuyên bắn tốc độ.
                    .map
                        img(src="./img/tintuc/chitiet/map.png", alt="")
            .col-lg-4.col-md-5
                .other-news
                    h2 Tin tức khác
                    .news-item
                        figure
                            .boximg
                                img(src="./img/tintuc/chitiet/other-1.jpg", alt="")
                            figcaption
                                date 20/05/2019
                                h3 Về Đồng Nai nhớ ghé thăm Đảo Ó ngắm cảnh đẹp
                    .news-item
                        figure
                            .boximg
                                img(src="./img/tintuc/chitiet/other-1.jpg", alt="")
                            figcaption
                                date 20/05/2019
                                h3 Về Đồng Nai nhớ ghé thăm Đảo Ó ngắm cảnh đẹp