.khachsan-detail
	.main-title
		text-align: left
	.main-img
		.boximg
			height: 460px
			@media (max-width: 1024px)
				height: 400px
			@media (max-width: 767.98px)
				height: 350px
			img
				height: 100%
				width: 100%
				object-fit: cover
	.col-lg-8
		.row
			padding-left: 10px
			padding-right: 10px
			.other-img
				flex: 0 0 20%
				max-width: 20%
				padding-left: 5px
				padding-right: 5px
				padding-top: 10px
				.boximg
					height: 85px
					@media (max-width: 767.98px)
						height: 70px
					@media (max-width: 575.98px)
						height: 60px
					img
						height: 100%
						width: 100%
						object-fit: cover
	.col-lg-4
		padding-top: 30px
		padding-bottom: 30px
		background: #ecf0f3
		.content
			height: 100%
			width: 100%
		.row
			margin: 0
			&:nth-child(2)
				.col-8
					p
						font-size: 16px
						color: rgb(181, 54, 36)
						font-weight: 700
			&:nth-child(3),&:nth-child(4)
				.col-8
					p
						font-weight: 500
						font-size: 16px
						color: #818282
		h3
			font-size: 16px
			margin-left: 15px
			color: rgb(51, 51, 51)
			@media (max-width: 1199.98px)
				margin-left: 0
		p
			margin-bottom: 15px
			font-size: 14px
			color: rgb(51, 51, 51)
			font-weight: 500
		
		@media (max-width: 1024px)
			padding-top: 0
			padding-bottom: 0
			background: none
			.content
				margin-top: 10px
				padding-top: 30px
				padding-bottom: 30px
				background: #ecf0f3
			.col-4
				h3
					margin-left: 20px
			.col-8
				p
					margin-right: 20px
		@media (max-width: 575.98px)
			.col-4
				h3
					font-size: 13px
			.col-8
				p
					font-size: 12px
			.row
				&:nth-child(2)
					.col-8
						p
							font-size: 12px
				&:nth-child(3),&:nth-child(4)
					.col-8
						p
							font-size: 12px
	.info-contact
		.phone, .mail
			display: inline-block
			&:before
				font-family: 'Material Design Icons'
				color: #ffffff
				height: 50px
				width: 50px
				border-radius: 50%
				background: #b7b7b7
				display: inline-flex
				justify-content: center
				align-items: center
				font-size: 25px
			span
				margin-left: 15px
		.phone
			margin-bottom: 20px
			margin-left: 30px
			padding-top: 25px
			margin-right: 30px
			width: 100%
			display: flex
			border-top: 1px solid #e1e1e1
			&:before
				content: '\f3fd'
			p
				display: inline-flex
				flex-direction: column
				margin-left: 15px
				margin-bottom: 0
				a
					font-size: 18px
					color: #000
					font-weight: 500
					display: inline-block
					@media (max-width: 575.98px)
						font-size: 13px
		.mail
			margin-left: 30px
			margin-right: 30px
			padding-bottom: 25px
			border-bottom: 1px solid #e1e1e1
			display: flex
			justify-content: center
			align-items: center
			&:before
				content: '\f1ee'
			span
				font-size: 16px
				color: rgb(51, 51, 51)
				font-weight: 500
				@media (max-width: 575.98px)
					font-size: 13px
		
		@media (max-width: 1199.98px)
			.phone, .mail
				margin-left: 10px
				margin-right: 10px
				&:before
					height: 40px
					width: 40px
			.phone
				padding-top: 20px
			.mail
				padding-bottom: 20px
		@media (max-width: 1024px)
			.phone, .mail
				margin-left: 30px
				margin-right: 30px
	.social-icons
		padding-bottom: 40px
		@media (max-width: 1199.98px)
			padding-bottom: 20px
		.fb-like
			margin-left: 25px
			display: flex
			margin-right: 10px