.khachsan-detail.section-kdldaoo
    .container
        h2.main-title View hồ trị an
        .row
            .col-lg-8
                .main-img
                    .boximg
                        img(src="./img/khachsan/chitiet-1/item-1.jpg", alt="")
                .other-img
                    .boximg
                        img(src="./img/khachsan/chitiet-1/item-1.jpg", alt="")
            .col-lg-4
                .row
                    .col-4
                        h3 Mô tả
                    .col-8
                        p Những buổi liên hoan cùng bạn bè, vừa ngắm cảnh giữa lòng
                            strong Hồ Trị An
                            |  vừa vui chơi ở bể bơi, hay thử sức với những trò chơi thể thao nước đầy hứng khởi đập tan cái nóng của ngày hè oi bức.
                .row
                    .col-4
                        h3 Giá phòng
                    .col-8
                        p 350.000 - 3.000.000vnđ/đêm
                .row
                    .col-4
                        h3 Sức chứa
                    .col-8
                        p 2 - 10 người
                .row
                    .col-4
                        h3 Diện tích
                    .col-8
                            p 36 - 50 m2
                .row.info-contact
                    a.phone(href="")
                        span 0251-8626999
                        span 0988 60 60 06
                    a.mail(href="")
                        span 0251-8626999
                        span 0988 60 60 06
