.home-block-3.section-kdldaoo
    .container
        h2.main-title Ưu đãi hấp dẫn
        .row
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .boximg
                            img(src="./img/home/sticker_khuyenmai.jpg", alt="")
                    .swiper-slide
                        .boximg
                            img(src="./img/home/sticker_khuyenmai.jpg", alt="")
                    .swiper-slide
                        .boximg
                            img(src="./img/home/sticker_khuyenmai.jpg", alt="")
        .swiper-button
            .nav-prev
            .nav-next