.hoinghi.section-kdldaoo
    .container
        h2.main-title Hội nghị
        .row
            .col-lg-5
                .boximg
                    a
                        img(src="./img/hoinghi/block-1.png", alt="")
            .col-lg-7
                .fullcontent
                    p 
                        strong Khu du lịch Đảo Ó – Đồng Trường
                        |  là nơi lý tưởng để tổ chức các hoạt động: hội nghị, dã ngoại, hội thao, teambuiding, tiệc cưới… cho các đoàn thể, công ty, cá nhân trong và ngoài tỉnh. Nhờ vào không gian thoáng mát, bao gồm: khu sân vườn ngoài trời và phòng hội nghị, đáp ứng nhu cầu quý khách theo từng yêu cầu sự kiện. Bên cạnh đội ngũ nhân viên tận tình chuyên nghiệp, với đầy đủ trang thiết bị hiện đại, khu du lịch Đảo Ó – Đồng Trường còn thường xuyên tổ chức giao lưu văn nghệ, ảo thuật, biểu diễn hề… gần khu vực nhà hàng để phục vụ khách tham quan.
.phongchua.section-kdldaoo
    .container
        h2.main-title Phòng chứa
        .row
            .col-lg-3.col-sm-6
                .items
                    figure
                        .boximg
                            a
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
                        figcaption
                            h3 Bàn tròn
                            p Phòng hội nghị : 40 - 60 khách
                            p Ngoài trời : 300 khách
            .col-lg-3.col-sm-6
                .items
                    figure
                        .boximg
                            a
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
                        figcaption
                            h3 Bàn tròn
                            p Phòng hội nghị : 40 - 60 khách
                            p Ngoài trời : 300 khách
            .col-lg-3.col-sm-6
                .items
                    figure
                        .boximg
                            a
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
                        figcaption
                            h3 Bàn tròn
                            p Phòng hội nghị : 40 - 60 khách
                            p Ngoài trời : 300 khách
            .col-lg-3.col-sm-6
                .items
                    figure
                        .boximg
                            a
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
                        figcaption
                            h3 Bàn tròn
                            p Phòng hội nghị : 40 - 60 khách
                            p Ngoài trời : 300 khách
.image-hoinghi.section-kdldaoo
    .container
        h2.main-title Hình ảnh
        .row
            .col-lg-6
                .row
                    .col-12
                        .boximg
                            a(data-fancybox="gallery" href="./img/hoinghi/pic-1.jpg")
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
                    .col-sm-6
                        .boximg
                            a(data-fancybox="gallery" href="./img/hoinghi/pic-1.jpg")
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
                    .col-sm-6
                        .boximg
                            a(data-fancybox="gallery" href="./img/hoinghi/pic-1.jpg")
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
            .col-lg-6
                .row
                    .col-sm-6
                        .boximg
                            a(data-fancybox="gallery" href="./img/hoinghi/pic-1.jpg")
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
                    .col-sm-6
                        .boximg
                            a(data-fancybox="gallery" href="./img/hoinghi/pic-1.jpg")
                                img(src="./img/hoinghi/pic-1.jpg", alt="")
                    .col-12
                        .boximg
                            a(data-fancybox="gallery" href="./img/hoinghi/pic-1.jpg")
                                img(src="./img/hoinghi/pic-1.jpg", alt="")