body
    
    &.active
        overflow: hidden
header
    position: fixed
    top: 0
    z-index: 9999
    width: 100%
    background: #ffffff
    .mobile-header
        display: none
        .toggle-menu
            width: 30px
            height: 22.5px
            position: absolute
            right: 0
            transform: rotate(0deg)
            transition: 0.5s ease-in-out
            cursor: pointer
            margin-right: 15px
            top: 35px
            transform: translateY(-50%)
            @media (min-width: 992px)
                position: inherit
            span
                display: block
                position: absolute
                height: 3px
                width: 100%
                background: linear-gradient(120deg,#0875bb,#8ec443)
                border-radius: 9px
                opacity: 1
                left: 0
                transform: rotate(0deg)
                transition: 0.25s ease-in-out

                &:nth-child(1)
                    top: 0px
                    transform-origin: left center

                &:nth-child(2)
                    top: 9px
                    transform-origin: left center

                &:nth-child(3)
                    top: 18px
                    transform-origin: left center

            &.active
                span
                    &:nth-child(1)
                        transform: rotate(45deg)
                        top: 0px
                        left: 8px

                    &:nth-child(2)
                        opacity: 0
                        width: 0

                    &:nth-child(3)
                        transform: rotate(-45deg)
                        top: 21.5px
                        left: 8px

    .desktop-header-1
        display: flex
        align-items: center
        padding-top: 15px
        padding-bottom: 15px
        @media (max-width: 991.98px)
            flex-direction: column
    .phone
        display: flex
        align-items: center
        color: rgb(26, 120, 5)
        font-weight: 400
        font-size: 16px
        margin-left: auto
        span
            &:not(.mdi)   
                margin-right: 30px
                padding-right: 30px
                border-right: 1px solid rgb(225, 225, 225)
                line-height: 1
        .mdi-phone
            display: inline-block
            height: 30px
            font-size: 20px
    .mail
        display: flex
        align-items: center
        .mdi-email
            display: inline-block
            height: 30px
            color: rgb(159, 157, 158)
            font-size: 23px
            margin-right: 10px
        span
            &:not(.mdi)
                font-size: 14px
                color: rgb(51, 51, 51)
                font-weight: 500
    .searchbox
        order: 1
        input[type='text']
            display: none
        a.searchbutton
            display: flex
            margin-left: 20px
            margin-right: 20px
            em
                font-size: 20px
                background: rgb(153, 153, 153)
                width: 30px
                height: 30px
                &:before
                    color: #ffffff
                    width: 100%
                    height: 100%
                    display: flex
                    justify-content: center
                    align-items: center
    .language
        order: 2
        a
            &:last-child
                margin-left: 10px
    .desktop-header-2
        justify-content: space-between
        display: flex
        align-items: flex-start
        height: 45px
    nav
        display: flex
        align-items: center
        margin-left: auto
        a
            font-size: 18px
            color: #000000
            text-transform: uppercase
            font-weight: 500
            margin-left: 80px
            @media (max-width: 1199.98px)
                font-size: 15px
                margin-left: 50px
            &:hover
                color: rgb(181, 54, 36)
            &:last-child
                margin-left: 50px
                padding: 5px 20px
                padding-right: 25px
                border-radius: 25px
                background: #1a7805
                font-size: 13px
                color: rgb(255, 255, 255)
                @media (max-width: 1199.98px)
                    font-size: 12px
                    margin-left: 35px
                &:before
                    content: "\f3eb"
                    font-family: "Material Design Icons"
                    display: inline-block
                    margin-right: 5px
    .logo
        display: inline-block
        position: fixed
        top: 20px
        z-index: 999
    .sub-logo
        position: absolute
        top: 80px
        left: -75px
        z-index: -1
        width: 238px
        height: 20px
    
    .header-nav
        border-bottom: 4px solid #d5d5d5
    @media (max-width: 991.98px)
        border-bottom: 4px solid #d5d5d5
        height: 70px
        .header-nav
            border: none
        .mobile-tab
            z-index: -1
            display: block
            position: fixed
            top: 70px
            right: -100%
            width: 320px
            height: 100%
            background-image: url('../img/bg-footer.jpg')
            background-size: cover
            background-position: bottom
            transition: 1s all ease-in-out
        .desktop-header-2
            display: initial
            nav
                margin-top: 40px
                flex-direction: column
                display: flex
                align-items: flex-start
                a
                    margin: 0
                    margin-top: 20px
                    margin-left: 20px
                    color: #ffffff
                    &:last-child
                        margin-left: auto
                        margin-right: auto
                        background: #3db921
                        position: absolute
                        top: 440px
                        left: 160px
                        transform: translateX(-50%)
                        margin-top: 0
        .desktop-header-1
            display: flex
            align-items: center
            margin-top: 20px
        .mobile-header
            display: block
            &.active
                .mobile-tab
                    right: 0
                    transition: 1s all ease-in-out
        .language
            text-align: center
            order: 0
            width: 100%
        .searchbox
            order: 1
            margin-left: 20px
            margin-top: 30px
            display: flex
            input[type='text']
                display: inline-block
                outline: none
                padding-left: 10px
                width: 250px
                border: none
            a.searchbutton
                display: inline-flex
                margin: 0
        .mail
            margin: 0
            .mdi
                color: #ffffff
            span:not(.mdi)
                font-weight: 700
                color: #fff

        .phone
            margin: 0
            color: #44ff19
            font-weight: 700
            .mdi
                font-size: 24px
            span:not(.mdi)
                margin: 0
                padding: 0
                border: none
        .logo
            height: 60px
            width: 55px
            position: static
            margin-top: 5px
            img
                width: 100%
                height: 100%
            .sub-logo
                top: 56px
                width: 105px
                height: 10px
                left: -10px
            
            
    .backdrop
        display: none
    @media (max-width: 991.9px)
        .backdrop
            z-index: -1
            display: block
            position: fixed
            top: 70px
            right: -100%
            width: 0
            height: 100%
            background: rgba(0,0,0,.8)
            transition: 1s all ease-in-out
            &.active
                right: 0
                width: 100%
                transition: 1s all ease-in-out