.giaitri.home-block-2.section-kdldaoo
    .container
        h2.main-title Khu du lịch Đảo ó - Đồng trường
        p Viên ngọc xanh giữa lòng hồ Trị An - Đồng Nai
        .row
            .col-lg-4.col-sm-6
                figure
                    .boximg
                        img(src="./img/giaitri/item-1.png", alt="")
                    figcaption
                        .box-caption
                            img(src="./img/giaitri/caption-img.png", alt="")
                            .caption
                                h3 Hoạt động dưới nước
            .col-lg-4.col-sm-6
                figure
                    .boximg
                        img(src="./img/giaitri/item-1.png", alt="")
                    figcaption
                        .box-caption
                            img(src="./img/giaitri/caption-img.png", alt="")
                            .caption
                                h3 Hoạt động dưới nước
            .col-lg-4.col-sm-6
                figure
                    .boximg
                        img(src="./img/giaitri/item-1.png", alt="")
                    figcaption
                        .box-caption
                            img(src="./img/giaitri/caption-img.png", alt="")
                            .caption
                                h3 Hoạt động dưới nước