.khachsan-detail2.section-kdldaoo
	.container
		h2.main-title View hồ trị an
		.row
			.col-lg-8
				.main-img
					.boximg
						img(src="./img/khachsan/chitiet-1/item-1.jpg", alt="")
				.row
					.other-img
						.boximg
							img(src="./img/khachsan/chitiet-1/item-1.jpg", alt="")
					.other-img
						.boximg
							img(src="./img/khachsan/chitiet-1/item-1.jpg", alt="")
					.other-img
						.boximg
							img(src="./img/khachsan/chitiet-1/item-1.jpg", alt="")
					.other-img
						.boximg
							img(src="./img/khachsan/chitiet-1/item-1.jpg", alt="")
					.other-img
						.boximg
							img(src="./img/khachsan/chitiet-1/item-1.jpg", alt="")
			.col-lg-4
				.content
					.row
						.col-5
							h3 Giá phòng
						.col-7
							p 500.000 vnđ/ đêm
					.row
						.col-5
							h3 Sức chứa
						.col-7
							p 2 người
					.row
						.col-5
							h3 Diện tích
						.col-7
								p 36 m2
					.row
						.col-5
							h3 Hướng phòng
						.col-7
								p View hồ Trị An
					.row.social-icons
						div(class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false")
						a(class="twitter-share-button" href="https://twitter.com/intent/tweet") Tweet
					.row.info-contact
						.phone
							p
								a(href="tel:02518626999") 0251-8626999
								a(href="tel:0988606006") 0988 60 60 06
						a.mail(href="mailto:daoodongtruongcti@gmail.com")
							span daoodongtruongcti@gmail.com
					.row
						.book-room
							a(href="")
								span.mdi.mdi-pencil
								span Đặt phòng

.khachsan-info.section-kdldaoo
	.container
		h2 Thông tin
		.row
			.col-lg-6
				.briefcontent
					p Những buổi liên hoan cùng bạn bè, vừa ngắm cảnh giữa lòng 
						strong Hồ Trị An
						|  vừa vui chơi ở bể bơi, hay thử sức với những trò chơi thể thao nước đầy hứng khởi đập tan cái nóng của ngày hè oi bức.
					p Thả mình lắng nghe bản nhạc hoà tấu thiên nhiên: của sóng, của gió và của mây trời.... 
						strong Đảo Ó - Đồng Trường
						|  sẽ chiêu đãi du khách những cảnh sắc tuyệt đẹp, không khí trong lòng và không gian tràn ngập ánh nắng, mang đến một trải nghiệm ẩm thực vô cùng độc đáo khi có thể vừa nhâm nhi những đồ uống đặc sắc, món ngon hấp dẫn, đồng thời vừa câu cá thư giãn ngay bên hồ
					p Một buổi sớm đón chào ngày mới bằng ánh bình minh, thả hồn vào từng đợt sóng nhấp nhô bên khung cửa sổ giữa lòng hồ Trị An là trải nghiệm tuyệt vời mà bất kì du khách nào cũng không nên bỏ qua.Tất cả phòng tại đây đều chú trọng không gian mở và hài hòa với lợi thế thiên nhiên xanh mát, song song đó, vẫn đảm bảo hàng loạt trang bị tiện nghi mang đến cho du khách những giây phút nghỉ dưỡng thật sự thoải mái..
					p Một buổi sớm đón chào ngày mới bằng ánh bình minh, thả hồn vào từng đợt sóng nhấp nhô bên khung cửa sổ giữa lòng hồ Trị An là trải nghiệm tuyệt vời mà bất kì du khách nào cũng không nên bỏ qua.

.khachsan-notice.section-kdldaoo
	.container
		h2 Ghi chú
		.row
			ul
				li
					span Giá phòng đã bao gồm ăn sáng buffet, nhưng không bao gồm 5% phí dịch vụ và 10% VAT
				li
					span Miễn phí cho trẻ em dưới 5 tuổi ngủ chung giường với bố mẹ.
				li
					span Trẻ em từ 6 đến 11 tuổi tính phí 189.000 ++ / đêm ngủ chung giường với bố mẹ.
				li
					span Tùy thuộc vào mùa cao điểm hay thấp điểm, khách sạn có thể thay đổi giá.
				li
					span Trong trường hợp không có chương trình ưu đãi, giá một đêm lưu sẽ được tính phí cả ngày
			ul
				li
					span Giá phòng đã bao gồm ăn sáng buffet, nhưng không bao gồm 5% phí dịch vụ và 10% VAT
				li
					span Miễn phí cho trẻ em dưới 5 tuổi ngủ chung giường với bố mẹ.
				li
					span Trẻ em từ 6 đến 11 tuổi tính phí 189.000 ++ / đêm ngủ chung giường với bố mẹ.
				li
					span Tùy thuộc vào mùa cao điểm hay thấp điểm, khách sạn có thể thay đổi giá.
				li
					span Trong trường hợp không có chương trình ưu đãi, giá một đêm lưu sẽ được tính phí cả ngày


.room-type.section-kdldaoo
	.container
		h2 Phòng khác
		.row
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							.boximg
								img(src="/img/khachsan/chitiet-1/room-1.jpg", alt="")
							figcaption
								h3 Phòng tiêu chuẩn
								.person Số người: 2 người
								.price Giá: 500.000 vnđ/đêm
					.swiper-slide
						figure
							.boximg
								img(src="/img/khachsan/chitiet-1/room-1.jpg", alt="")
							figcaption
								h3 Phòng tiêu chuẩn
								.person Số người: 2 người
								.price Giá: 500.000 vnđ/đêm
					.swiper-slide
						figure
							.boximg
								img(src="/img/khachsan/chitiet-1/room-1.jpg", alt="")
							figcaption
								h3 Phòng tiêu chuẩn
								.person Số người: 2 người
								.price Giá: 500.000 vnđ/đêm