footer
    .footer-top
        .container
            .row
                .col-lg-3
                    .address
                        h2 Khu du lịch Đảo Ó Đồng Trường
                        a(href="https://goo.gl/maps/EECkV2ydunBMUkwY7")
                            span.mdi.mdi-map-marker
                            span Số 1B, đường Tôn Đức Thắng, Tổ 3B, Khu phố 8, Thị trấn Vĩnh An, Huyện Vĩnh Cửu, Tỉnh Đồng Nai.
                        a(href="")
                            span.mdi.mdi-phone
                            span (0251) 8626999 
                        a(href="")
                            span.mdi.mdi-phone
                            span 0988 60 60 06
                    .social-icons
                        a.mdi.mdi-facebook(href="")
                        a.mdi.mdi-instagram(href="")
                        a.mdi.mdi-youtube(href="")
                .col-lg-2.col-sm-4
                    .content
                        h2 Khách sạn
                        nav
                            a(href="") View hồ Trị An
                            a(href="") View sân vườn
                            a(href="") View hồ bơi
                .col-lg-2.col-sm-4
                    .content
                        h2 Giải trí
                        nav
                            a(href="") View hồ Trị An
                            a(href="") View sân vườn
                            a(href="") View hồ bơi
                .col-lg-2.col-sm-4
                    .content
                        h2 Liên kết nhanh
                        nav
                            a(href="") View hồ Trị An
                            a(href="") View sân vườn
                            a(href="") View hồ bơi
                .col-lg-3
                    .content
                        h2 Theo dõi chúng tôi
                        .boximg
                            img(src="./img/follow_us.jpg", alt="")
    .footer-bottom
        .container
            .row
                .copyright
                    p © 2019 Khu du lịch Đảo Ó. All rights reserved. Desgined by Cánh Cam.
                nav
                    a(href="") Điều khoản sử dụng
                    a(href="") Chính sách bảo mật