.datphong.home-block-7.section-kdldaoo
    .container
        .row.main-content
            .col-12
                h2.main-title Đặt phòng
            .col-lg-4
                .contact
                    .phone
                        p
                            a(href="tel:02518626999") 0251-8626999
                            a(href="tel:0988606006") 0988 60 60 06
                    a.mail(href="mailto:daoodongtruongcti@gmail.com")
                        span.mdi-mail
                        span daoodongtruongcti@gmail.com
            .col-lg-8
                .row
                    .wrap-form
                        div
                            .form-group
                                label Họ tên
                                input(type="text")
                            .form-group
                                label Email
                                input(type="text")
                            .form-group
                                label Điện thoại
                                input(type="text")
                            .form-group
                                label Tiêu đề
                                input(type="text")
                            .form-group
                                label Ghi chú
                                textarea
                .row
                    .frm-btnwrap
                        .frm-btn
                            .frm-btn-submit
                                a(href="")
                                    span Gửi thông tin
