//- .home-block-5
//-     h2.main-title Thư viện ảnh
//-     .gallery
//-         .gallery-item
//-             .boximg
//-                 img(src="./img/home/image_1.jpg", alt="")
//-         .gallery-item
//-             .boximg
//-                 img(src="./img/home/image_1.jpg", alt="")
//-         .gallery-item
//-             .boximg
//-                 img(src="./img/home/image_1.jpg", alt="")
//-         .gallery-item
//-             .boximg
//-                 img(src="./img/home/image_1.jpg", alt="")
