.nhahang-main
    .nhahang-ds.section-kdldaoo
        .container
            h2.main-title Nhà hàng
    .nhahang-block-1
        .container
            .row
                .col-md-6
                    .block-1
                        h3 Nhà hàng trên đảo
                        p Những buổi liên hoan cùng bạn bè, vừa ngắm cảnh giữa lòng 
                            strong Hồ Trị An
                            |  vừa vui chơi ở bể bơi, hay thử sức với những trò chơi thể thao 
                        .view-more
                            a(href="")
                                span Xem thêm
    .nhahang-block-2
        .container
            .row
                .col-md-6
                    .block-2
                        h3 Nhà hàng trên đảo
                        p Những buổi liên hoan cùng bạn bè, vừa ngắm cảnh giữa lòng 
                            strong Hồ Trị An
                            |  vừa vui chơi ở bể bơi, hay thử sức với những trò chơi thể thao 
                        .view-more
                            a(href="")
                                span Xem thêm