.nhahang-main
	background-image: url("/Data/Sites/1/media/nhahang/bg.png")
	background-repeat: no-repeat
.nhahang-ds
	padding-bottom: 0
.nhahang-block-1
	background-image: url("/Data/Sites/1/media/nhahang/bg-block-1.png")
	background-position: bottom
	.row
		height: 600px
	.block-1
		margin-top: 20%
		h3
			font-size: 18px
			color: rgb(51, 51, 51)
			text-transform: uppercase
			margin-bottom: 25px
		p
			font-size: 16px
			color: rgb(51, 51, 51)
			font-weight: 500
			margin-bottom: 25px
	.view-more
		display: inline-block


.nhahang-block-2
	background-image: url("/Data/Sites/1/media/nhahang/bg-block-2.png")
	.row
		height: 700px
		flex-direction: row-reverse
	.block-2
		margin-top: 20%
		text-align: right
		h3
			font-size: 18px
			color: rgb(51, 51, 51)
			text-transform: uppercase
			margin-bottom: 25px
		p
			font-size: 16px
			color: rgb(51, 51, 51)
			font-weight: 500
			margin-bottom: 25px
	.view-more
		display: inline-block
	@media screen and(max-width:768px)
		.block-2
			margin-top: -20%