.banner
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                figure
                    .boximg
                        img(src="./img/banner/home-bg.jpg", alt="")
            .swiper-slide
                figure
                    .boximg
                        img(src="./img/banner/home-bg.jpg", alt="")
            .swiper-slide
                figure
                    .boximg
                        img(src="./img/banner/home-bg.jpg", alt="")
        .swiper-pagination