.giaitri.section-kdldaoo
    .container
        h2.main-title Giải trí
        p Đảo Ó – Đồng Trường là 2 trong số những hòn đảo lớn và đẹp nhất nằm biệt lập giữa lòng hồ Trị An. Nhờ vào lợi thế cảnh sắc nên thơ, không khí trong lành, giúp nơi đây vốn đã hữu tình nay càng nức tiếng gần xa khi được đơn vị quản lý triển khai hoàn thiện thêm cơ sở hạ tầng với nhiều hoạt động du lịch hấp dẫn như:
        .row
            .col-lg-4.col-sm-6
                figure
                    .boximg
                        img(src="./img/giaitri/item-1.png", alt="")
                    figcaption
                        .box-caption
                            img(src="./img/giaitri/caption-img.png", alt="")
                            .caption
                                h3 Hoạt động dưới nước
            .col-lg-4.col-sm-6
                figure
                    .boximg
                        img(src="./img/giaitri/item-1.png", alt="")
                    figcaption
                        .box-caption
                            img(src="./img/giaitri/caption-img.png", alt="")
                            .caption
                                h3 Hoạt động dưới nước
            .col-lg-4.col-sm-6
                figure
                    .boximg
                        img(src="./img/giaitri/item-1.png", alt="")
                    figcaption
                        .box-caption
                            img(src="./img/giaitri/caption-img.png", alt="")
                            .caption
                                h3 Hoạt động dưới nước
