.home-wrapper-banner
	.home-banner
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					figure
						.boximg
							img(src="./img/banner/home-bg.jpg", alt="")
		
					.container
						.row
							figcaption
								h3 Không gian nghỉ dưỡng xanh mát và yên bình tại Đồng Nai
				.swiper-slide
					figure
						.boximg
							img(src="./img/banner/home-bg.jpg", alt="")
		
					.container
						.row
							figcaption
								h3 Không gian nghỉ dưỡng xanh mát và yên bình tại Đồng Nai
				.swiper-slide
					figure
						.boximg
							img(src="./img/banner/home-bg.jpg", alt="")
		
					.container
						.row
							figcaption
								h3 Không gian nghỉ dưỡng xanh mát và yên bình tại Đồng Nai
			.swiper-pagination
	.home-datphong
		.container
			.row
				.form-datphong
					h2 Đặt phòng
					.wrap-form
						.form-group
							label Ngày đặt phòng
							input(type="text")
						.form-group
							label Ngày trả phòng
							input(type="text")
					.select-main
						.select-detail
							h4 Số phòng
							select
								option 1
								option 2
								option 3
								option 4
						.select-detail
							h4 Số người lớn
							select
								option 1
								option 2
								option 3
								option 4
						.select-detail
							h4 Số trẻ em
							select
								option 1
								option 2
								option 3
								option 4
					.btn-submit
						a(href="")
							span Đặt phòng
